<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Physical Chemistry</h1>
            <span>University of Illinois at Urbana-Champaign</span>
            <span><address>Champaign, IL, USA</address><time>2012 to 2017</time></span>
        </header>
        <p>
            <em>Thesis: A Tale of Two Microbes: Computational Investigations of Biological Processes in Escherichia and Methanosarcina at Multiple Scales.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BS in Chemistry, BS in Computer Science</h1>
            <span>University of Utah</span>
            <span><address>Salt Lake City, UT, USA</address><time>2007 to 2012</time></span>
        </header>
        <p>
            <em>Dissertation (Chemistry; Honors Thesis): Deflagration and Detonation Modeling of Heterogeneous Condensed Phase Explosives.</em>
        </p>
        <p>
            <em>Dissertation (Computer Science): Application of High Performance Computing to Petascale Explosion Simulations.</em>
        </p>
    </article>
</section>
