<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Consultant</h1>
            <span><address>West Valley City, UT, USA</address><time>2013 to Present</time></span>
        </header>
        <p> I have developed embedded software for several biomedical devices.
			This required close collaboration with device engineers and agile development practices.
			Software documentation was tailored for FDA submission. </p>
    </article>
    <article>
        <header>
            <h1>Graduate Research Assistant, Luthey-Schulten Laboratory</h1>
            <span><address>University of Illinois at Urbana-Champaign, Champaign, IL, USA</address><time>2012 to Present</time></span>
        </header>
        <p>I currently study biology at the level of single cells and colonies using a 
           variety of analytical and computational techniques. This work primarily focuses 
           on metabolism and regulation of methanogenic microbes and <em>E. coli</em>. I have recently 
           begun modeling biofilms. During this work I have created and/or maintained a number 
           of scientific and simulation software packages (<a href="https://github.com/JosephRyanPeterson/3DdFBA_Tools">3DdFBA Tools</a>, <a href="http://www.scs.illinois.edu/schulten/lm/">Lattice Microbes</a>). 
		   This work has resulted in 9 publications, so far.
		</p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Research Assistant, Berzins Laboratory</h1>
            <span><address>University of Utah, Salt Lake City, UT, USA</address><time>2011 to 2013</time></span>
        </header>
        <p>Devised high performance computing methods for partitioning scientific simulation
		   algorithms between CPUs and GPUs on supercomputers. This work resulted in 1 publication.
		</p>
    </article>
    <article>
        <header>
            <h1>Undergraduate Research Assistant, Wight Laboratory</h1>
            <span><address>University of Utah, Salt Lake City, UT, USA</address><time>2008-2012</time></span>
        </header>
        <p>Designed combustion and detonation models for solid explosives applicable to the
		   investigation of hazard mitigation schemes for the transport and storage of
		   explosives. This work resulted in 5 publication.
		</p>
    </article>
</section>
