<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>CATMS Seminar Organizer</h1>
            <span><address>University of Illinois at Urbana-Champaign, IL, USA</address><time>2015-2017</time></span>
        </header>
        <p>
            <em>Organized</em>: A series of lunch seminars hosted by theoretical and computational 
			chemists for the Center for Advanced Theory and Molecular Simulation.
        </p>
    </article>
    <article>
        <header>
            <h1>Professional Education Workshops</h1>
            <span><address>All Over the World</address><time>2013-present</time></span>
        </header>
        <p>
            <em>Taught</em>: Developed teaching material which taught computational biology techniques at more than 10 workshops.
        </p>
    </article>
</section>
