<section class="thirteen columns">
    <h1>Scientific Skills</h1>
    <article>
        <header>
            <h1>Computational</h1>
        </header>
		<p>
			<em>Metabolic modeling</em>, <em>Stochastic modeling</em>, <em>Statistical modeling</em>, <em>RNAseq analysis</em> &amp; <em>Regulatory Network Analysis</em>
		</p>
        <header>
            <h1>Theoretical</h1>
        </header>
		<p>
			<em>Stochastic physics</em>, <em>Continuum mechanics</em> &amp; <em>Material mechanics</em>
		</p>
    </article>
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Environments</h1>
        </header>
        <p>
            <em>Windows</em>, <em>Linux (Debian family)</em> &amp; <em>Mac OS</em>
        <p>
        <header>
            <h1>Software engineering</h1>
        </header>
        <p>
            <em>C/C++/Objective-C</em> &amp; <em>Python</em>
        <p>
            <em>Java/C#</em>, <em>SVN</em> &amp; <em>Git</em>
        </p>
        <p>
            <em>CUDA</em>, <em>OpenGL</em>, <em>MPI</em> &amp; <em>OpenMP</em>
        </p>
        <p>
            <em>Matlab</em>, <em>R</em>, <em>SQL</em> &amp; <em>XML</em>
        </p>
        <header>
            <h1>Hardware</h1>
        </header>
        <p>
            <em>Arduino</em> &amp; <em>Raspberry Pi</em>
        </p>
    </article>
</section>
